.btn_dark {
  background-color: rgb(81,81,81);
  color: white;
  border-radius: 5px;
  border: none;
  font-family: sans-serf;
  font-size: 20px;
  margin-Top: 5px;
  transition-duration: 1s;
  box-shadow: 0px 2px 4px black;
}
.btn_dark:hover {
  background-color: rgb(50,50,50);
  box-shadow: 0px 1px 4px black;
}
.btn_light {
  background-color: white;
  color: rgb(81,81,81);
  border-radius: 5px;
  border: none;
  font-family: sans-serf;
  font-size: 20px;
  margin-Top: 5px;
  transition-duration: 1s;
  box-shadow: 0px 2px 4px black;
}
.btn_light:hover {
  background-color: rgb(240,240,240);
  box-shadow: 0px 1px 4px black;
}
.select_dark {
  background-color: rgb(81,81,81);
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px black;
}
.select_dark:hover {
  background-color: rgb(50,50,50);
  box-shadow: 0px 1px 4px black;
}
.select_light {
  background-color: white;
  font-size: 20px;
  color: rgb(81,81,81);
  font-family: sans-serif;
  border: 1px solid rgb(81,81,81);
  border-radius: 5px;
  box-shadow: 0px 2px 4px black;
}
.select_light:hover {
  background-color: rgb(240,240,240);
  box-shadow: 0px 1px 4px black;
}
.txt_light {
  font-size: 20px;
  border-radius: 5px;
  background-color: white;
  border-color: rgb(81,81,81);
  color: rgb(81,81,81);
}
.txt_dark {
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(81,81,81);
  borderccolor: white;
  color: white;
}
/* Other */
.hide {
  display: none;
}
.show {
  display: show;
}
.txt_center {
  text-align: center;
}
.txt_left {
  text-align: left;
}
.txt_right {
  text-align: right;
}
.text_light {
  color: rgb(81,81,81);
  font-family: sans-serif;
  font-size: 20px;
}
.text_dark {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
td {
  text-align: center;
}
.img_app {
  width: 100px;
  height: 100px;
}
.apps {
  width: 100%;
}
.center {
  text-align: center;
}

/* for news */
.news {
  width: 80%;
  border: 2px solid grey;
  border-radius: 5px;
}
.news_title {
  text-align: center;
}
.news_date {
  text-align: left;
  color: rgb(81,81,81);
}
