.center {
  text-align: center;
}
.max-width {
  width: 100%;
}
.btn_classic_rect {
  color: rgb(0,150,255);
  border-color: rgb(0,150,255);
  background-color: white;
}
.theme {
  color: rgb(0,150,255);
}
.f-20 {
  font-size: 20px;
}
.f {
  font-family: sans-serif;
}
.white {
  color: white;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: rgb(0,255,0);
}
.btn_dark {
  background-color: rgb(81,81,81);
  color: white;
  border-radius: 5px;
  border: none;
  font-family: sans-serf;
  font-size: 20px;
  box-shadow: 0px 2px 4px black;
}
.btn_dark:hover {
  background-color: rgb(50,50,50);
  box-shadow: 0px 1px 4px black;
}
.btn_light {
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  font-family: sans-serf;
  font-size: 20px;
  box-shadow: 0px 2px 4px black;
}
.btn_light:hover {
  background-color: rgb(250,250,250);
  box-shadow: 0px 1px 4px black;
}
.select_dark {
  background-color: rgb(81,81,81);
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px black;
}
.select_dark:hover {
  background-color: rgb(50,50,50);
  box-shadow: 0px 1px 4px black;
}
.select_light {
  background-color: white;
  font-size: 20px;
  color: rgb(81,81,81);
  font-family: sans-serif;
  border: 1px solid rgb(81,81,81);
  border-radius: 5px;
  box-shadow: 0px 2px 4px black;
}
.select_light:hover {
  background-color: rgb(250,250,250);
  box-shadow: 0px 1px 4px black;
}
.text_light,.text_dark {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(81,81,81);
  font-size: 20px;
  color: rgb(81,81,81);
  box-shadow: 0px 2px 4px black;
}
.text_light:hover,.text_dark:hover {
  box-shadow: 0px 0px 4px black;
}
