.btn_dark {
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0);
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  border-bottom: 4px solid white;
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px;
  transition: all 0.25s ease-in-out;;
}
.btn_dark:hover {
  font-size: 25px;
}
.btn_dark:active {
  font-size: 25px;
  color: rgb(81,81,81);
  background-color: white;
  border-bottom: 2px solid white;
}

.btn_light {
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0);
  color: rgb(81,81,81);
  border-radius: 5px;
  border: 2px solid rgb(81,81,81);
  border-bottom: 4px solid rgb(81,81,81);
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px;
  transition: all 0.25s ease-in-out;;
}
.btn_light:hover {
  font-size: 25px;
}
.btn_light:active {
  font-size: 25px;
  color: white;
  background-color: rgb(81,81,81);
  border-bottom: 2px solid rgb(81,81,81);
}

.select_dark {
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0);
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  border-bottom: 4px solid white;
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px;
  transition: all 0.25s ease-in-out;;
}
.select_dark:hover {
  font-size: 25px;
}
.select_dark:active {
  font-size: 25px;
  color: rgb(81,81,81);
  background-color: white;
  border-bottom: 2px solid white;
}

.select_light {
  letter-spacing: 1px;
  background-color: rgba(0,0,0,0);
  color: rgb(81,81,81);
  border-radius: 5px;
  border: 2px solid rgb(81,81,81);
  border-bottom: 4px solid rgb(81,81,81);
  font-family: sans-serif;
  font-size: 20px;
  margin: 5px;
  transition-duration: all 0.25s ease-in-out;
}
.select_light:hover {
  font-size: 25px;
}
.select_light:active {
  font-size: 25px;
  color: white;
  background-color: rgb(81,81,81);
  border-bottom: 2px solid rgb(81,81,81);
}

.txt_light {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  background-color: rgba(0,0,0,0);
  border-color: rgb(81,81,81);
  color: rgb(81,81,81);
}
.txt_light:hover {
  font-size: 25px;
}

.txt_dark {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  background-color: rgba(0,0,0,0);
  border-color: white;
  color: white;
}
.txt_dark:hover {
  font-size: 25px;
}
/* Other */
.hide {
  display: none;
}
.show {
  display: show;
}
.txt_center {
  text-align: center;
}
.txt_left {
  text-align: left;
}
.txt_right {
  text-align: right;
}
.text_light {
  color: rgb(81,81,81);
  font-family: sans-serif;
  font-size: 20px;
}
.text_dark {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}
td {
  text-align: center;
  padding: 5px;
}
.img_app {
  width: 100px;
  height: 100px;
}
.img_app:hover {
  width: 150px;
  height: 150px;
}
.apps {
  width: 100%;
}
.center {
  text-align: center;
}

/* for news */
.news {
  width: 80%;
  border: 2px solid grey;
  border-radius: 5px;
}
.news_title {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
.news_index {
  font-family: sans-serif;
  font-size: 15px;
  font-family: sans-serif;
}
.news_date {
  text-align: left;
  color: rgb(81,81,81);
  font-family: sans-serif;
  font-size: 12px;
}
/* For TTS */
.txt_light-s {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 3px;
  background-color: white;
  border-color: rgb(81,81,81);
  color: rgb(81,81,81);
  width: 100px;
}
